<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Gateways</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Ip Address</th>
            <th>Number of Connected Devices</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = "let gateway of gateways">
            <td>{{gateway.serialNo}}</td>
            <td>{{gateway.gateayName}}</td>
            <td>{{gateway.ipAddress}}</td>
            <td> 
                {{gateway.peripherals.length}}
                <button (click)="viewConnectedDevices(gateway.serialNo)" class="btn btn-info" style="margin-left: 60px">View</button>
            </td>
            <td>
                <button  class="btn btn-info">Edit</button>
                <button (click)="deleteGateway(gateway.serialNo)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
               
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <a routerLink="add" class="btn btn-success" routerLinkActive="active">Add</a>
  </div>
  
